<div class="card">
    <div class="card-body">
        <h3>Imagenes apolo</h3>
        <br>
        <div class="box">
            <input type="text" name="search" placeholder="buscar" class="src" autocomplete="off" 
            (input)="palabraClaveBusqueda=$event.target.value;">
            <button type="button" class="btn btn-primary" (click)="buscar()">Buscar</button>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let imagenApolo of imagenesApolo">
                    <td class="align-left">
                        {{imagenApolo.titulo}}
                    </td>
                    <td class="text-left">
                        <a href="{{imagenApolo.urlImagen}}" target="_blank">Ver imagen...</a>
                    </td>
                    <td class="text-left">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verImagenModal"
                            (click)="verImagen(imagenApolo)">Ver Detalles</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="verImagenModal" aria-labelledby="registrarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Imagen Seleccionada</h4>                
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label>Titulo</label>
                    <input readOnly='true' type="text" class="form-control text-uppercase"
                        value="{{imagenSeleccionada.titulo}}">
                </div>
                <br>
                <div class="form-group">                    
                    <img src="{{imagenSeleccionada.urlImagen}}" class="img-fluid">
                </div>
                <div class="form-group">
                    <label>Favorito</label>
                    <br>
                    <label class="form-control text-uppercase" >{{textoFavorito()}}</label>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="agregarQuitarFavorito(true)">Agregar a
                    Favorito</button>
                <button type="button" class="btn btn-danger" (click)="agregarQuitarFavorito(false)">Quitar de
                    Favorito</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>